.settings
logs/
utils/
external_packages/
*.pyc
*.pyo
gwt-unitCache/
war/
.installed.cfg
.codeintel/
parts/
develop-eggs/
bin/
eggs/
downloads/
tests/
src/*.egg-info
.idea/
Puli/doc/_build
Puli/src/tornado
Puli/src/puliclient/contrib
