.settings
*.pyc
*.pyo
.installed.cfg

.aliases/
.codeintel/
.idea/
gwt-unitCache/
war/
parts/
develop-eggs/
eggs/
downloads/
tests/
bin/
src/*.egg-info

stats/
lib/
logs/
utils/
external_packages/
Puli/doc/_build
Puli/src/tornado
Puli/src/numpy
Puli/src/pygal
Puli/src/psutil
Puli/src/puliclient/contrib
