[Unit]
Description=Puliworker
After=network.service autofs.service xdm.service graphical.target

# ERROR, sur la fedora, il me jette sur xdm.service
# Requires=autofs.service xdm.service
Requires=autofs.service

[Service]
User=render
Type=forking
Environment=DISPLAY=:0

#
# Prepare PID dir on reboot
#
PermissionsStartOnly=true
ExecStartPre=/bin/chown -R render /var/run/puli/

#
# Main
#
ExecStart=/s/apps/packages/bin/rez env puli -- workerd -p %i -s puliserver -P /var/run/puli/worker%i.pid -K /tmp/render/killfile%i -d
PIDFile=/var/run/puli/worker%i.pid

LimitNOFILE=32000
Restart=always
RestartSec=5

#
# Grant X access to render
# ERROR: ne fonctionne pas sur les render apparement
# ExecStartPost=/bin/bash -c "XAUTHORITY=`ps wwaux | grep '/X.*-auth' | sed -e 's/^.*-auth *//' -e 's/ .*$//' | head -n 1` xhost si:localuser:render"

[Install]
WantedBy=multi-user.target graphical.target

