[Unit]
Description=Puliserver
After=network.service autofs.service
Requires=autofs.service

[Service]
User=render
Type=forking
EnvironmentFile=/etc/sysconfig/puliserver
Environment="PYTHONPATH=/opt/puli

#
# Prepare PID dir on reboot
#
PermissionsStartOnly=true
ExecStartPre=/bin/chown -R render /var/run/puli/

#
# Main
#
ExecStart=/usr/bin/python2.6 /opt/puli/scripts/dispatcherd.py -p ${PORT} -d
PIDFile=/var/run/puli/dispatcher.pid
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target