[Unit]
Description=Puliworker
After=network.service autofs.service
Requires=autofs.service

[Service]
User=render
Type=forking
#Environment="PYTHONPATH=/s/apps/lin/puli:$PYTHONPATH"

#
# Prepare PID dir on reboot
#
PermissionsStartOnly=true
ExecStartPre=/bin/chown -R render /var/run/puli/

ExecStartPre=rez env puli

#
# Main
#
ExecStart=/s/apps/packages/bin/run puli -- workerd -p %i -s pulitest -P /var/run/puli/worker%i.pid -K /tmp/render/killfile%i -d
LimitNOFILE=32000
PIDFile=/var/run/puli/worker%i.pid

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
