[Unit]
Description=Puliworker
After=network.service autofs.service
Requires=autofs.service

[Service]
User=render
Type=forking
Environment=DISPLAY=:0

#
# Prepare PID dir on reboot
#
PermissionsStartOnly=true
ExecStartPre=/bin/chown -R render /var/run/puli/

#
# Main
#
ExecStart=/s/apps/packages/bin/rez env puli -- workerd -p %i -s puliserver -P /var/run/puli/worker%i.pid -K /datas/tmp/render/killfile%i -d
PIDFile=/var/run/puli/worker%i.pid

LimitNOFILE=32000
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target graphical.target
