[Unit]
Description=Puli server
After=network.target

[Service]
User=render
Type=forking
EnvironmentFile=/etc/sysconfig/puliserver
PIDFile=/var/run/puli/dispatcher.pid

# TEST
ExecStart=/usr/bin/python2.6 /s/apps/lin/eval/puli/distrib/OpenRenderManagement/Puli/scripts/dispatcherd.py -p ${PORT} -d -D

# PROD MODE
#ExecStart=/usr/bin/python2.6 /s/apps/lin/puli/scripts/dispatcherd.py -p ${PORT} -d

[Install]
WantedBy=multi-user.target