[Unit]
Description=Puliworker
After=network.target

[Service]
User=render
Type=forking
EnvironmentFile=/etc/sysconfig/puliworker
PIDFile=/var/run/puli/worker.pid

#
# TEST
#
#ExecStart=/usr/bin/python2.6 /s/apps/lin/eval/puli/distrib/OpenRenderManagement/Puli/scripts/workerd.py -p ${PORT} -s ${HOST} -P ${PIDFILE} -d

#
# PROD
#
ExecStart=/usr/bin/python2.6 /s/apps/lin/puli/scripts/workerd.py -p ${PORT} -s ${HOST} -P ${PIDFILE} -d


[Install]
WantedBy=multi-user.target