[Unit]
Description=Pulirespawner
After=network.target

[Service]
User=root
Type=forking
EnvironmentFile=/etc/sysconfig/pulirespawner
PIDFile=/var/run/puli/respawner.pid

#
# TEST
#
# ExecStart=/usr/bin/python2.6 /s/apps/lin/eval/puli/distrib/OpenRenderManagement/Puli/scripts/respawnerd.py -R ${RESTARTFILE} -K ${KILLFILE} -D ${DELAY}

#
# PROD
#
ExecStart=/usr/bin/python2.6 /s/apps/lin/puli/scripts/respawnerd.py -R ${RESTARTFILE} -K ${KILLFILE} -D ${DELAY}

[Install]
WantedBy=multi-user.target
